$white: #fefefeff;
$antiflash-white: #f3f4f6ff;
$antiflash-white-2: #edededff;
$lavender-blush: #ece1e1ff;
$pink-lavender: #dcb1c4ff;
$rosy-brown: #bea299ff;
$french-gray: #aab3bdff;
$outer-space: #474b4cff;
$blue-gray: #639dceff;
$black: #1a1a1a;
$check: #198754;
$alert: #ffc107;
$cancel: #dc3545;

$fond-section: $white;
$fond: $antiflash-white;
$text-color: $black;
$shadow-section: $french-gray;

$megamenu-fond-menu: $blue-gray;
$megamenu-trait-sous-menu: $outer-space;
$megamenu-border: $outer-space;
$megamenu-submenu: $text-color;
$megamenu-color-a: $black;
$megamenu-color-a-hover: $white;
$megamenu-background: $rosy-brown;

$button-submit-border-color: $check;
$button-submit-border-background-color: $check;

$button-reset-border-color: $cancel;
$button-reset-border-background-color: $cancel;